body
{
  font-family: "Monda", sans-serif;
  background: red;
}

.header_div
{
  background: yellow;
  color: blue;
}

.header_div p
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 18px;
}

.main_div button
{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
  font-weight: 700;
  width: 100px;
  letter-spacing: 3px;
}

.copy_right_footer
{
  position: sticky;
  text-align: center;
  bottom: 0;
  background: gold;
  width: 100%;
  font-size: 20px;
  line-height: 149%;
  box-shadow: 2px 3px 4px deepskyblue;
}